.message {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-weight: 900;
  color: black;
}

.link {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0;
  padding: 0;
  text-decoration: none;
  color: black;
  display: inline-block;
  &:hover {
    color: blue;
  }
}

.image {
  margin: 0 auto;
  width: 1000px;
}
